.header {
  display: flex;
  align-items: center;
  background-color: #1f2833;
  justify-content: space-between;
  height: 4rem;
  color: white;
}

.header button {
  font: inherit;
  border: none;
  background-color: inherit;
  margin: 0 0.5rem;
  cursor: pointer;
  color: white;
}

.header a {
  text-decoration: none;
  margin: 0 0.5rem;
  color: white;
}

.sortUtils {
  display: flex;
  align-items: center;
}
