.header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  color: #aaabac;
  font-weight: 500;
}

.header button {
  font: inherit;
  border: none;
  background-color: inherit;
  margin: 0 0.5rem;
  cursor: pointer;
  font-weight: 500;
  color: #aaabac;
}

.header button:hover:not(:disabled) {
  color: #ccc;
}

.header button:disabled {
  cursor: not-allowed;
}

.header button.sort,
.header button.cancel {
  padding: 0.2rem 0.6rem;
  border: 2px solid #aaabac;
  color: #aaabac;
  margin: 0;
  vertical-align: middle;
}

.header button.cancel {
  border: 2px solid #f98f8f;
  background-color: #f98f8f;
  color: #0b0c10;
}

.header button.sort:hover {
  border-color: #72eeb8;
  background-color: #72eeb8;
  color: #0b0c10;
}

.header button.cancel:hover {
  border-color: red;
  background-color: red;
  color: white;
}

.joinBar {
  width: 2rem;
  border: 1px solid #aaabac;
}

.joinBarCancel {
  border: 1px solid #f98f8f;
}

.header button.sort:hover + .joinBar {
  border-color: #72eeb8;
}

.header button.cancel:hover + .joinBar {
  border-color: red;
}

.header a {
  text-decoration: none;
  padding: 0.75rem 1rem;
  color: #c5c6c7;
  border: 1px solid #45a29e;
  font-weight: 500;
  border-right: 0;
}

.header a.disabled {
  cursor: not-allowed;
}

.header a:first-of-type {
  border-radius: 5px 0 0 5px;
}

.header a:last-of-type {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #45a29e;
}

.header a.active {
  background-color: #45a29e;
  color: #0b0c10;
  cursor: default;
}

.header a:hover:not(.active):not(.disabled) {
  color: #66fcf1;
}

.sortUtils {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.sortActions {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

@media (min-width: 68rem) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header a:last-of-type {
    margin-right: 1rem;
  }
}
